* {
  font-family: "Montserrat", sans-serif;;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.image {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: block;
  flex: 50%;
}

.signUp {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

h1 {
  text-align: center;
  background-color: #00000036;
  
  color: white;
}

p {
  width: 50%;
}

.banner {
  flex: 1;
  width: 100%;
  position: relative;
  top: -50%;
}

.signUp {

}

.form {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .credit {
    display: none;
  }
  .form {
    flex-direction: column;
  }
  .form-row {
    flex-direction: column;
  }
}
