:root {
  --light-blue: #A5c1c4;
  --rich-black: #0D1B2A;
  --YlnMn-Blue: #415a775d;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  background-color: #0D1B2A;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 33%
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 6px 4px 4px #A5c1c4 ;
}
.banner {
  width: 33%;
  height: 8rem;
  position:fixed;
  top: 10%;
  left:0.5%;
  background-color: var(--YlnMn-Blue);
  color: var(--rich-black);
  z-index: 1;
  text-align: center
}

.signUp {
  flex: 67%;
  color: #A5c1c4;
  font-size: 1.5rem;
}

a:visited{
  color: var(--rich-black)
}
a {
  color: var(--rich-black);
}